@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
    --color-primario: #12ac8e;
    --color-primario-oscuro: #0d846c;
    --color-primario-claro: #e9f7f7;
    --color-secundario: #fb923c;
    --texto-oscuro: #333333;
    --texto-claro: #767268;
    --blanco: #ffffff;
    --max-width: 1200px;
}
html{
  scroll-behavior: smooth;
}
body{
  font-family: "Poppins", sans-serif;
}
img{
  width: 100%;
  display: flex;
}
/---Header---/
header{
  background-image: linear-gradient(to right, rgba(18, 172, 142, 0.9), rgba(18, 172, 142, 0.7)), url("IMG/header.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.contenedor_section{
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}
.contenedor_nav{
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo_nav{
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--blanco);
}
.logo_nav_span{
  color: var(--color-secundario);
}
.nav_links{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
a{
  text-decoration: none;
}
.link{
  padding: 0.5rem;
  color: var(--color-primario-claro);
}
.link:hover{
  color: var(--blanco);
}
.btn{
  padding: 0.75rem 2rem;
  outline: none;
  border: none;
  font-size: 1rem;
  white-space: nowrap;
  color: var(--blanco);
  background-color: var(--color-secundario);
  border-radius: 5px;
  cursor: pointer;
}
.contenedor_header{
  display: flex;
  align-items: center;
  gap: 5rem;
}
.header_h1{
  margin-bottom: 1rem;
  max-width: 800px;
  font-size: 3.5rem;
  line-height: 4rem;
  color: var(--blanco);
}
.header_p{
  margin-bottom: 2rem;
  max-width: 600px;
  color: var(--color-primario-claro);
}
.formulario_header{
  width: 100%;
  max-width: 350px;
}
.formulario_header_form{
  display: grid;
  gap: 1rem;
  padding: 2rem;
  background-color: var(--blanco);
  border-radius: 10px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}
.formulario_header_h4{
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--color-primario);
}
.formulario_header_input{
  padding: 1rem;
  outline: none;
  border: none;
  font-size: 1rem;
  color: var(--color-primario);
  background-color: var(--color-primario-claro);
  border-radius: 5px;
}
.formulario_header_input::placeholder{
  color: var(--color-primario);
}
.formulario_btn{
  background-color: var(--color-primario);
  transition: 0.3s;
}
.formulario_btn :hover{
  background-color: var(--color-primario-oscuro);
}
/---Service---/
.service_header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}
.service_h2{
    margin-bottom: 0.5rem;
    font-size: 2rem;
    font-weight: 600;
    color: var(--texto-oscuro);
}
.service_p{
  max-width: 600px;
  color: var(--texto-oscuro);
}
.service_btn{
  padding: 0.75rem 1rem;
  outline: none;
  font-size: 1rem;
  color: var(--color-primario);
  border: 1px solid var(--color-primario);
  background-color: transparent;
  border-radius: 5px;
  white-space: nowrap;
  cursor: pointer;
  transition: 0.3s;
}
.service_btn:hover{
  color: var(--blanco);
  background-color: var(--color-primario);
}
.service_grid{
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.service_card{
  padding: 2rem;
  text-align: center;
  border-radius: 10px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.service_card span{
  display: inline-block;
  margin-bottom: 1rem;
  padding: 10px 20px;
  font-size: 2.5rem;
  color: var(--color-primario);
  background-color: var(--color-primario-claro);
  border-radius: 100%;
  transition: 0.3s;
}
.service_card:hover span{
  color: var(--color-primario-claro);
  background-color: var(--color-primario);
}
.service_card_h4{
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--texto-oscuro);
}

.service_card_p{
  margin-bottom: 1rem;
  color: var(--texto-claro);
}

.service_card_a{
  color: var(--color-primario);
}

.service_card_a:hover{
  color: var(--color-primario-oscuro);
}
/---About Us---/
.contenedor_about{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  align-items: center;
}
.contenido_about_p{
  margin-bottom: 1rem;
  color: var(--texto-claro)
}
.imagen_about{
  max-width: 400px;
  margin: auto;
  border-radius: 10px; 
}
/---Why-Blog---/
.contenedor_why{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  align-items: center;
}
.imagen_why{
  max-width: 400px;
  margin: auto;
  border-radius: 10px;
}
.contenido_why_p{
  color: var(--texto-claro);
}
.grid_why{
  display: grid;
  margin-top: 4rem;
  grid-template-columns: 80px auto;
  gap: 2rem;
}
.grid_why span{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  color: var(--color-primario);
  border-radius: 10px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}

.grid_why_h4{
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--texto-oscuro);
}

.grid_why_p{
  color: var(--texto-claro);
}
/---Pages---/
.pages_header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}
.pages_p{
  max-width: 600px;
  color: var(--texto-claro);
}
.pages_nav{
  display: flex;
  align-items: center;
  gap: 1rem;
}
.pages_nav span{
  padding: 5px 15px;
  font-size: 1.5rem;
  color: var(--color-primario);
  background-color: var(--color-primario-claro);
  cursor: pointer;
}
.pages_grid{
  display: grid;
  margin-top: 4rem;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.pages_card{
  text-align: center;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
}
.pages_card_img{
  position: relative;
  overflow: hidden;
  list-style-type: none;
}
.redes_sociales{
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: -4rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  transition: 0.5s;
}
.redes_sociales span{
  display: inline-block;
  padding: 6px 12px;
  font-size: 1.5rem;
  color: var(--texto-oscuro);
  background-color: var(--blanco);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
.redes_sociales span:hover{
  color: var(--color-primario);
}
.pages_card:hover .redes_sociales{
  bottom: 2rem;
}
.pages_h4{
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--texto-oscuro);
}
.pages_p{
  margin-bottom: 1rem;
  color: var(--texto-claro);
}
/---Footer---/
.footer{
  background-color: var(--color-primario-claro);
}
.contenedor_footer{
  display: grid;
  grid-template-columns: 400px repeat(3, 1fr)